/* Base styles (extra small devices - mobile) */
/* CSS rules */
html {
    font-size: 14px;
  }
  
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #444444;
}
  
h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif , Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #222222;
}
  
h1 { 
    font-size: 2.5rem; text-align: center; 
    margin: 15px auto;
}
h2 { font-size: 2rem; text-align: center; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

a {
  text-decoration: none;
  color: #3B82F6;
 }
  
  a:hover, a:focus {
    color: #1D4ED8;
  }

#navbar{
    padding: 8px;
}

#jovian-logo-text{
display: none;
}

#banner {
    width: 100%;
    object-fit: cover;
    height: 120px;
}

#about {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 8px;
  }
  
  #work {
    border-radius: 5px;
    width: 100%;
  }
  #job-table{
    display: none;
  }
  .job{
    border: 1px solid black;
    border-radius: 5px;
    margin:5px 4px;
    margin-bottom: 8px;
    padding: 5px;
  }
  .job-title{
    font-size: 20px;
    font-weight: 500;
    color: black;
  }
  .job-detail{
    margin-top: 4px;
    color: darkslategray;
  }
  #application {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 8px;
  }
  
  .form-group {
    margin: 16px 0;
  }
  
  #application-form label {
    font-weight: 600;
  }
  
  .form-group input, select, textarea {
    padding: 8px;
    width: 90%;
    font-size: 1.25rem;
    margin-top: 4px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  .form-group label{
    display: block;
  }
  
  .form-group textarea {
    font-family: 'Roboto', sans-serif;
    /* height: 120px; */
  }
  
  .form-group input[type="checkbox"] {
    width: 16px;
    height: 16px;
  }
  
  .form-group input[type="submit"] {
    background-color: #3B82F6;
    color: white;
    font-weight: 500;
    cursor: pointer;
  }
  h3 {
    margin-bottom: 4px;
}


#footer {
    text-align: center;
    background-color: ghostwhite;
    padding: 8px;
    margin-top: 30px;
}

#footer-list {
    list-style-type: none;
    padding-left: 0;
}

#footer-list li {
    display: block;
    margin: 0 16px;
}

#copyright {
    color: rgb(174, 0, 255);
} 
/* Small devices (tablets) */
@media screen and (min-width: 576px) {
    /* CSS rules */

    html{
        font-size: 16px;
    }
    #jovian-logo{
        display: none;
        }
    #jovian-logo-text{
        display: block;
    }
    #banner{
        height: 200px;
    }
    .job{
        max-width: 600px;
        margin: 5px auto;
    }
    #footer-list li {
        display: inline;
        margin: 0 16px;
    }
  }
  

/* Medium devices (laptops) */
@media screen and (min-width: 768px) {
    /* CSS rules */
    #banner{
        height: 280px;
    }
    #about {
        flex-direction: row;
    max-width: 800px;}

    
      #description {
        width: 50%;
        padding-right: 8px;
        font-size: 1.25rem;
      }
      
      #team{
        width: 50%;
      }
      #work{
        height: 100%;
      }
      #jobs-list{
        display: none;
      }
      #jobs {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 8px;
        font-size: 1rem;
    }
    
    #job-table {
        display: table;
        width: 100%;
        border: 1px solid rgb(110, 110, 110);
        border-collapse: collapse;
        padding: 8px;
    }
    
    .job-head-row th {
        border: 1px solid rgb(110, 110, 110);
        background-color: rgb(143, 249, 247);
    
    }
    
    .job-data-row td {
        border: 1px solid rgb(110, 110, 110);
    }
    
    #job-table tr:nth-child(odd) {
        background-color: rgb(223, 255, 244);
    }
    #application {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 8px;
        font-family: Arial, Helvetica, sans-serif;
    }
    #application-form{
        padding: 0 auto;

    }
    .form-group {
        margin: 16px 0;
    }
    
    .form-group label {
        display: block;
        font-size: 1.25rem;
        font-weight: 600;
    }
    
    .form-group input,
    select,
    textarea {
        padding: 8px;
        font-size: 1.25rem;
        margin-top: 5px;
        width: 80%;
    }
    
    .form-group textarea {
        margin: 5px 0;
        height: 220px;
    }
    
    .form-group input[type="submit"] {
        margin-right: 8px;
    }
    
    #cv {
        height: 80px;
        width: 80%;
    }
    
    #resume {
        border: 1px solid grey;
    }
    
    #submit {
        background-color: rgb(21, 138, 255);
        border: 2px solid rgb(21, 138, 255);
        color: white;
        height: 40px;
        font-weight: 600;
        width: 100px;
        border-radius: 10px;
        cursor: pointer;
    }
    
    #submit:hover,
    #submit:focus {
        background-color: rgb(255, 192, 75);
        border: 2px solid rgb(21, 138, 255);
        color: rgb(21, 138, 255);
    }
    
  }








/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    height: 30px;
    margin: 8px;
}



.heading {
    text-align: center;
}

h2 {
    text-align: center;

}

#about {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
    font-size: 1rem;
}

#description {
    width: 50%;
    padding: 0 8px;
}

a {
    text-decoration: none;
}

#team {
    width: 50%;


}

#work {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}



*/